# Neovim dynamic state, plugin installs, & caches
**/lazy-lock.json
**/.local/share/nvim/
**/.local/state/nvim/
**/.cache/nvim/

# GNU Stow runtime state folders inside package paths
**/scripts/.local/state/
**/.local/share/
**/.local/state/
**/.cache/

# OS / Editor temporary files
*.swp
*.swo
*~
.DS_Store
