* {
    font-family: JetBrainsMono Nerd Font;
    font-size: 20px;
    min-height: 0;
    border: none;
    border-radius: 0;
    box-shadow: none;
    text-shadow: none;
    transition: none;
    animation: none;
}

window#waybar {
    background: #02021a;
    color: #bbbbbb;
}

#tags button {
    padding: 0 10px;
    background-color: #02021a;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 0% 3px;
}

#tags button.occupied {
    background-image: linear-gradient(#797979, #797979);
    background-size: 90% 3px;
}

#tags button.focused {
    background-color: #797979;
    color: #ffffff;
    background-image: linear-gradient(#ffffff, #ffffff);
    background-size: 90% 3px;
}

#tags button.urgent {
    background-color: #770000;
    color: #ffffff;
    background-image: linear-gradient(#770000, #770000);
    background-size: 90% 3px;
}

#clock,
#tray,
#network,
#bluetooth,
#pulseaudio,
#battery,
tooltip label {
    padding: 0 10px;
}

tooltip label {
    padding: 6px;
}

#tray > .passive,
#tray > .needs-attention {
    -gtk-icon-effect: none;
}

#tray > .needs-attention {
    background: #797979;
}

#tray menu {
    background: #02021a;
}
